version: '3.8'

services:
  api_gateway:
    build:
      context: .
      dockerfile: services/api_gateway/Dockerfile
    container_name: floodnet_api
    ports:
      - "${API_PORT}:8000"  # Mapping port dari .env
    volumes:
      - ${HOST_MODEL_PATH}:/app/models # Mapping folder models dari .env
    environment:
      - MODEL_PATH=/app/models/best_model_modular.h5
      - YOLO_PATH=/app/models/yolov8n.pt
    networks:
      - floodnet_network
    restart: unless-stopped

  dashboard:
    build:
      context: .
      dockerfile: services/dashboard/Dockerfile
    container_name: floodnet_dashboard
    ports:
      - "${DASHBOARD_PORT}:8501" # Mapping port dari .env
    environment:
      - API_URL=${INTERNAL_API_URL} # URL API dinamis
    depends_on:
      - api_gateway
    networks:
      - floodnet_network

  training_worker:
    build:
      context: .
      dockerfile: services/training_worker/Dockerfile
    container_name: floodnet_trainer
    volumes:
      - ${HOST_DATA_PATH}:/app/data      # Baca data dari path di .env
      - ${HOST_MODEL_PATH}:/app/models   # Tulis model ke path di .env
    environment:
      - DATA_PATH=/app/data
      - SAVE_PATH=/app/models
    networks:
      - floodnet_network

  sensor_simulator:
    build:
      context: .
      dockerfile: services/sensor_simulator/Dockerfile
    container_name: floodnet_simulator
    environment:
      - API_URL=${INTERNAL_API_URL}
      - INTERVAL=${SIMULATOR_INTERVAL}   # Interval dari .env
    depends_on:
      - api_gateway
    networks:
      - floodnet_network

networks:
  floodnet_network:
    driver: bridge