services:
  api_gateway:
    build:
      context: .
      dockerfile: services/api_gateway/Dockerfile
    container_name: floodnet_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - MODEL_PATH=/app/models/best_model_modular.h5
      - YOLO_PATH=/app/models/yolov8n.pt
    networks:
      - floodnet_network
    restart: unless-stopped

  dashboard:
    build:
      context: .
      dockerfile: services/dashboard/Dockerfile
    container_name: floodnet_dashboard
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api_gateway:8000
    depends_on:
      - api_gateway
    networks:
      - floodnet_network

  training_worker:
    build:
      context: .
      dockerfile: services/training_worker/Dockerfile
    container_name: floodnet_trainer
    volumes:
      - ./data:/app/data      # Baca data CSV mentah dari Host
      - ./models:/app/models  # Tulis hasil model .h5 ke Host
    environment:
      - DATA_PATH=/app/data
      - SAVE_PATH=/app/models
    networks:
      - floodnet_network

  sensor_simulator:
    build:
      context: .
      dockerfile: services/sensor_simulator/Dockerfile
    container_name: floodnet_simulator
    environment:
      - API_URL=http://api_gateway:8000
      - INTERVAL=5 
    depends_on:
      - api_gateway
    networks:
      - floodnet_network

networks:
  floodnet_network:
    driver: bridge