# Machine Learning (Training)
tensorflow
ultralytics
# Data Processing & Utils
pandas
numpy
scikit-learn
joblib
# Image Processing
opencv-python-headless
# Plotting & Visualization (untuk simpan grafik loss/accuracy)
matplotlib
seaborn
# Utilities
requests
tqdm
openpyxl